<!DOCTYPE html>
<html data-ng-app="">
<head>
	<title>Highest Paid CEOs of 2014 -- Greg Domorski</title>
	<link rel="stylesheet" type="text/css" href="ceostyles.css">
</head>
<body>

	Insert CEO name or company here
	<p>



	
	<input type="text" data-ng-model="name" /> 


	<div class="checkout">

	<div class="ng-class: names;" data-ng-init="ceos=[	
	 {name:'David M. Zaslav', company: 'Discovery Communications, Inc.', compensation: '$156,077,912'},
	 {name:'Mario J. Gabelli', company: 'Gamco Investors, Inc. Et Al', compensation: '$88,518,411'},
	 {name:'Satya Nadella', company: 'Microsoft Corp', compensation: '$84,308,755'}, 
	 {name:'Lawrence J. Ellison', company: 'Oracle Corp', compensation: '$67,261,251'}, 
	 {name:'Jon Feltheimer', company: 'Lions Gate Entertainment Corp', compensation: '$63,601,493'}, 
	 {name:'T.M. (Roe) Patterson', company: 'Basic Energy Services Inc', compensation: '$62,863,840'},
	 {name:'Steven M. Mollenkopf', company: 'Qualcomm Inc', compensation: '$60,740,592'}, 
	 {name:'Leslie Moonves', company: 'CBS Corp', compensation: '$57,175,645'},
	 {name:'Daniel R. Hesse', company: 'Sprint Corp', compensation: '$47,077,699'},
	 {name:'Robert A. Iger', company: 'Walt Disney Co', compensation: '$46,497,018'},
	 {name:'Philippe P. Dauman', company: 'Viacom Inc.', compensation: '$44,334,858'},
	 {name:'Joseph W. Brown', company: 'MBIA Inc', compensation: '$43,602,334'},
	 {name:'Marissa A. Mayer', company: 'Yahoo Inc', compensation: '$42,083,508'},
	 {name:'Leonard S. Schleifer, M.D., Ph.D', company: 'Regeneron Pharmaceuticals Inc', compensation: '$41,965,424'},
	 {name:'Mr. Joshua W. Sapan', company: 'AMC Networks Inc.', compensation: '$40,313,856'},
	 {name:'Marc Benioff', company: 'Salesforce Com Inc', compensation: '$39,907,534'},
	 {name:'John R Strangfeld', company: 'Prudential Financial Inc', compensation: '$37,483,092'},
	 {name:'Jeffrey R. Immelt', company: 'General Electric Co', compensation: '$37,250,774'},
	 {name:'Jeffrey M. Leiden', company: 'Vertex Pharmaceuticals Inc', compensation: '$36,635,468'}


	 ]">



	</div>

		<h2> Looping over the Highest Paid CEOs </h2>
		
	<div class="ng-style: checkout;">
			<ul>
			<li data-ng-repeat="chiefs in ceos | filter:name | orderBy:compensation"> {{ chiefs.name }} - {{ chiefs.company }} - {{chiefs.compensation }}</li>
		</ul>
	</div>



	<script src="../angular.min.js">

	angular.module('myApp', ['ngFx', 'ngAnimate'])
	</script>
</body>